<h1>Appointment</h1>

Doctor Name: <%= link_to  @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>
Appointment: <%= @appointment.date_to_long_formate %>